In [11]:
import pandas as pd
import numpy as np
import datetime
import matplotlib as mpl 
import matplotlib.pyplot as plt 
from keras.utils import to_categorical
import keras
from keras import backend as K
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.optimizers import Adam, rmsprop, sgd
from keras.callbacks import EarlyStopping
import keras.backend as Ka
from sklearn.metrics import cohen_kappa_score, confusion_matrix
from keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.model_selection import KFold
from numpy import array
from keras import optimizers
from sklearn.model_selection import train_test_split

# Contexte 

Le but de ce notebook ( suite du notebook feature_generation_1 ) est de préparer les données pour qu'elle puie être ingérer par un algo d'apprentissage.

In [12]:
client_ori = pd.read_csv('./users.csv',sep=",",header=0)

In [13]:
client_ori.head()

,COOKIE_ID,actions,actu,actualite,actualites,affaire,ans,apres,artfig,article,...,the,tnt,tv,user,video,videos,vie,ville,words_in_path,target
0,0.0,False,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,"{'biathlon', 'quasi', 'comme', 'form', 'permet...",1
1,1.0,False,True,False,True,False,False,False,False,True,...,False,False,False,False,True,False,True,False,"{'ostersund', 'logiciel', 'olympique', 'exteri...",0
2,2.0,True,True,True,True,True,True,True,True,True,...,True,False,True,False,True,True,True,True,"{'meteo', 'policiers', 'skype', 'secrete', 'pe...",0
3,3.0,False,False,False,True,False,False,True,False,True,...,False,False,False,False,True,False,False,True,"{'utilitaire', 'logiciel', 'hardware', 'connec...",0
4,4.0,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,"{'utilitaire', 'top', 'bas', 'mac', 'tv', 'def...",0

In [14]:
client = client_ori.copy()
client.columns.values

array(['COOKIE_ID', 'actions', 'actu', 'actualite', 'actualites',
       'affaire', 'ans', 'apres', 'artfig', 'article', 'aspx', 'bourse',
       'cinema', 'comment', 'compte', 'concours', 'contre', 'cours',
       'cuisine', 'culture', 'david', 'diaporamas', 'direct', 'directs',
       'divers', 'domains', 'dossiers', 'economie', 'episode', 'etre',
       'fait', 'faits', 'fevrier', 'football', 'forum', 'fr', 'france',
       'grand', 'guide', 'hallyday', 'htm', 'html', 'index', 'infos',
       'jean', 'jeu', 'jeux', 'jo', 'johnny', 'jour', 'justice',
       'laeticia', 'laura', 'les', 'ligue', 'macron', 'magazine', 'mail',
       'meteo', 'mode', 'monde', 'mort', 'neige', 'netc', 'news',
       'no_path', 'nouvelle', 'olympiques', 'paris', 'people', 'photo',
       'photos', 'php', 'phtml', 'plus', 'politique', 'pourquoi',
       'previsions', 'programme', 'pyeongchang', 'recette', 'recettes',
       'saint', 'saison', 'sante', 'shtml', 'societe', 'sport', 'stars',
       'statistiques', 'tele', 'telecharger', 'tennis', 'tf', 'the',
       'tnt', 'tv', 'user', 'video', 'videos', 'vie', 'ville',
       'words_in_path', 'target'], dtype=object)

# 1. Remove useless column

In [15]:
client = client.drop(['domains', 'words_in_path'], axis=1)

# 4. Hot encoding

In [26]:
target = client[['COOKIE_ID','target']]
predictors_quali = client.drop(['target'], axis=1)

In [27]:
## One hot encode the columns of the database specified in list_id.
#
#  return a copy of the database, on hot encoded. 
def one_hot_encode_database(database, list_id):
    
    col_names_ori = list(database.columns.values)
    database = database.values
    
    col_names = []
    
    encoded_database = np.empty(shape=(database.shape[0],0), dtype=float)
    
    for id in range(database.shape[1]):
        if id in list_id:
            
            original_column = database[:, id]
            encoded_column = to_categorical(original_column)
            encoded_database = np.column_stack((encoded_database,encoded_column))
            
            for i in range(encoded_column.shape[1]):
                col_names.append(col_names_ori[id] + '_' + str(i))
            
        else:
            original_column = database[:, id]
            encoded_database = np.column_stack((encoded_database,original_column))
            col_names.append(col_names_ori[id])
        
        encoded_database = pd.DataFrame(data=encoded_database,
            columns=col_names)

        
    return encoded_database

## Normalize between 0 and 1 each column of the database specified in list_id.
#
#  return a copy of the database, normalized. 
def normalize_database(database, list_id):
    
    
    col_names_ori = list(database.columns.values)
    database = database.values
    
    encoded_database = database.copy()
    for  id in list_id :
        x = encoded_database[:, id]
        encoded_database[:, id] = (x-min(x))/(max(x)-min(x))
        
    encoded_database = pd.DataFrame(data=encoded_database,
    columns=col_names_ori)
        
    return encoded_database

In [28]:
predictors_quali = one_hot_encode_database(predictors_quali,range(predictors_quali.shape[1])[1:])
target = one_hot_encode_database(target,range(target.shape[1])[1:])

# 5. Normalise database

In [29]:
predictors_quali.to_pickle("./predictors.pkl")
target.to_pickle("./target.pkl")

In [30]:
predictors_quali.head()

,COOKIE_ID,actions_0,actions_1,actu_0,actu_1,actualite_0,actualite_1,actualites_0,actualites_1,affaire_0,...,user_0,user_1,video_0,video_1,videos_0,videos_1,vie_0,vie_1,ville_0,ville_1
0,0,1,0,1,0,1,0,0,1,1,...,1,0,0,1,1,0,1,0,1,0
1,1,1,0,0,1,1,0,0,1,1,...,1,0,0,1,1,0,0,1,1,0
2,2,0,1,0,1,0,1,0,1,0,...,1,0,0,1,0,1,0,1,0,1
3,3,1,0,1,0,1,0,0,1,1,...,1,0,0,1,1,0,1,0,0,1
4,4,1,0,1,0,1,0,1,0,1,...,1,0,1,0,1,0,1,0,1,0